/* ==UserStyle==
@name           better-google-search
@namespace      github.com/diegostafa/userstyles
@version        2
@description    improved google search ui
@author         Diego <dstafa.dev@gmail.com> (github.com/diegostafa)
@preprocessor   stylus
@var            color accentColor "Accent color" #ffffff06
@var            checkbox debug "[DEBUG] show hidden elements" 0
==/UserStyle== */

@-moz-document url-prefix("https://www.google.com/search?q=") {

    #oFNiHe,
    #sfooter,
    #rhs .epKdHc,
    div[style="padding:0px 0 20px"],
    .ULSxyf:has(> div > .cUnQKe),
    #bres,
    #rhs> :empty,
    #rhs>.focusSentinel,
    #rhsads,
    [class="GCSyeb iNlBQe"],
    .mNh24c,
    .uzfIAc,
    .PmPt7d.QprcBd,
    div[data-st-tgt="stb"],
    [class="ClPXac Pqkn2e"],
    [class="ClPXac hoUro Pqkn2e"],
    .oBa0Fe,
    [class="Lu1KO aBOYt"] span,
    .g div[aria-label="About this result"],
    .g table.jmjoTe tr:has(form),
    .kno-ftr,
    .KFFQ0c.xKf9F {
        if debug {
            outline: 3px solid red !important;
        }

        else {
            display: none !important;
        }
    }

    body {
        margin: 0 !important;
        padding: 0 60px !important;
        overflow-x: hidden !important;
    }

    #cnt {
        padding-top: 10px !important;
    }

    #taw p {
        margin: 0 !important;
        padding: 0 !important;
    }

    .M8OgIe:has([class="e8Ck0d CYJS5e"]) {
        overflow: scroll !important;
        scrollbar-width: none;
        max-width: 100% !important;
        margin: 0 auto !important;
    }

    .M8OgIe:has([class="e8Ck0d CYJS5e"])::-webkit-scrollbar {
        display: none;
    }

    .M8OgIe:has([class="e8Ck0d CYJS5e"]) {
        border: none !important;
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .M8OgIe:has([class="WC0BKe"]) {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
    }

    .M8OgIe:has([class="WC0BKe"]) .mheepd {
        margin: 0 !important;
        padding: 0 !important;
    }

    body,
    #rcnt,
    #main,
    .LHJvCe,
    #searchform *:not(span):not(a) {
        max-width: 100% !important;
        min-width: 0 !important;
        width: auto !important;
    }

    .WZH4jc.w7LJsc {
        margin: 0 !important;
    }


    #sfcnt {
        display: none !important;
    }

    .obcontainer,
    [class="dG2XIf ouUsKb"]>div {
        margin: 0 !important;
    }

    .Q3DXx {
        width: 100% !important;
    }

    .I6TXqe {
        margin: 0 !important;
        border: none !important;
        background-color: transparent !important;
    }

    .hlcw0c,
    .ULSxyf {
        margin-bottom: 0 !important;
    }

    #searchform {
        position: initial !important;
        margin-top: 10px !important;
        min-width: 0 !important;
        max-width: 100% !important;
        width: auto !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 40px !important;
    }

    #searchform form .A8SBwf {
        width: 100% !important;
        padding: 0 !important;
        margin-left: 70px !important;
    }

    #appbar {
        border: none !important;
        padding: 0 !important;
        margin: 0 auto !important;
    }

    .IUOThf {
        width: auto !important;
    }


    .rfiSsc.wtAAQb .sBbkle.y3NyWc {
        padding: 0 !important;
        margin: 0 !important;
        padding-bottom: 5px !important;
    }

    .rfiSsc .sBbkle,
    .rfiSsc.XtQzZd .sBbkle,
    .rfiSsc.XtQzZd .sBbkle .bSeRjc {
        padding: 0 !important;
        margin: 0 !important;
    }

    .rfiSsc.wtAAQb * {
        position: relative !important;
    }

    .dG2XIf.XzTjhb {
        background-color: transparent !important;
    }

    #rcnt {
        justify-content: space-between !important;
        flex-wrap: no-wrap !important;
    }

    #rhs {
        min-width: 0 !important;
        max-width: 100% !important;
        margin: 0 !important;
        flex-grow: 1 !important;
        height: fit-content !important;
    }

    #rhs>div {
        width: auto !important;
    }

    #rhs div {
        max-width: 100% !important;
        min-width: 0 !important;
        border-left: none !important;
    }

    #center_col {
        padding: 0 !important;
        margin: 0 !important;
        max-width: 100% !important;
        flex-grow: 1 !important;
    }

    #center_col:has(+ #rhs) {
        margin-right: 10px !important;
    }

    [class="e8Ck0d CYJS5e"] {
        margin: 10px auto !important;
        padding: 0 !important;
        max-width: initial !important;
    }

    .XqFnDf {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
        max-width: initial !important;
        min-width: 0 !important;
    }

    .HdbW6.MjUjnf.VM6qJ {
        width: auto !important;
        max-width: initial !important;
        min-width: 0 !important;
        margin: 0 auto !important;
        padding: 0 !important;
    }

    .k6DEPe {
        margin: auto !important;
    }

    .KcXNxb {
        background-color: transparent !important;
    }

    [class="gqLncc card-section KDCVqf"] {
        order: -2 !important;
    }

    #kp-wp-tab-overview>div {
        margin: 0 !important;
    }

    .g {
        min-width: 0 !important;
        width: auto !important;
        margin: 10px auto !important;
    }

    .g span {
        position: relative !important;
    }

    #rcnt .M8OgIe [class="WC0BKe"] [class="WvKfwe a3spGf"]>div:not(:empty),
    #rhs>div:not(:empty),
    #bres:not(:empty),
    .WtZO4e>div>div>div:not(:empty),
    #rso:not(:has(#kp-wp-tab-overview))>div>div:not(:empty) #rso:not(:has(#kp-wp-tab-overview))>.hlcw0c>div:not(:empty),
    #rso #kp-wp-tab-overview>div:not(:empty),
    .g .P1usbc,
    .g .HiHjCd,
    .g table.jmjoTe {
        border: 1px solid #80808036 !important;
        margin: 10px 0 !important;
        padding: 10px !important;
        background-color: accentColor !important;
        border-radius: 10px !important;
    }

    #rcnt .M8OgIe [class="WC0BKe"] {
        margin: 0 !important;
    }

    .g {
        margin: 0 !important;
    }

    .FalWJb,
    .g,
    .obcontainer,
    .obcontainer .dG2XIf.ouUsKb {
        background-color: transparent !important;
    }


    .WFxqwc.BGdUVb.OTFaAf,
    #rhs>div[aria-label="About"] .xGj8Mb {
        margin-bottom: 0 !important;
    }

    .fl.ellip.oBrLN.ZwRhJd {
        margin-top: 10px !important;
    }

    .g .g {
        border: none !important;
        margin: 0 !important;
        background-color: transparent !important;
        border-radius: 0 !important;
    }

    .OOijTb.P6Tjc.gDQYEd {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: space-around !important;
    }

    .g .HiHjCd {
        width: fit-content !important;
        margin: 0 !important;
        margin-top: 10px !important;
    }

    .g table.jmjoTe h3 a {
        font-size: 0.9rem !important;
    }

    .g table.jmjoTe {
        margin: 0 !important;
        display: block !important;
    }

    .g table.jmjoTe tbody {
        display: flex !important;
        flex-wrap: wrap !important;
    }

    .g table.jmjoTe tbody>tr {
        padding: 0 !important;
        margin: 0 !important;
        width: 50% !important;
    }

    .g table.jmjoTe tbody>tr>td {
        padding: 0 !important;
        margin: 0 !important;
        font-size: 0.8rem !important;
    }

    .g table.jmjoTe tbody>tr div,
    .g table.jmjoTe tbody>tr td {
        display: block !important;
        max-width: 100% !important;
    }

    .g .P1usbc {
        margin-bottom: 0 !important;
        display: grid !important;
        grid-template-columns: 50% 50% !important;
    }

    .g .P1usbc>div {
        margin-bottom: 4px !important;
    }


    .g h3.LC20lb.MBeuO.DKV0Md {
        font-size: 1.1rem !important;
        margin-top: 5px !important;
    }

    .g .H9lube,
    .g .H9lube * {
        width: 18px !important;
        height: 18px !important;
        background-color: transparent;
        border: none !important;
    }

    .g div[class="notranslate TbwUpd NJjxre iUh30 ojE3Fb"]>div {
        display: flex !important;
    }

    .g div[class="notranslate TbwUpd NJjxre iUh30 ojE3Fb"]>div>span {
        margin-right: 10px !important;
    }

    @media only screen and (max-width: 1200px) {
        #center_col:has(+ #rhs) {
            margin-right: 0 !important;
        }

        body {
            padding: 0 40px !important;
        }

        #rhs {
            order: -100 !important;
            margin: 0 !important;
            padding: 0 !important;
            display: grid !important;
            grid-gap: 0 5px !important;
            grid-template-columns: auto auto auto !important;
        }

        #rhs>div {
            width: auto !important;
            padding: 0px !important;
            margin: 0 !important;
        }

        #rhs * {
            font-size: 0.8rem !important;
        }

        .g .P1usbc>div {
            display: flex !important;
            flex-wrap: wrap !important;
        }

        .g .P1usbc .VNLkW .G1Rrjc {
            padding-left: 0 !important;
            padding-right: 20px !important;
        }
    }

    @media only screen and (max-width: 1024px) {
        body {
            padding: 0 10px !important;
        }

        #rhs {
            grid-template-columns: auto auto !important;
        }

        .g .P1usbc>div {
            display: flex !important;
            flex-wrap: wrap !important;
        }

        .g .P1usbc .VNLkW .i4vd5e {
            width: 100% !important;
        }
    }
}