/* ==UserStyle==
@name           better-google-search
@namespace      github.com/diegostafa/userstyles
@version        10
@description    improved google search ui
@author         Diego <dstafa.dev@gmail.com> (github.com/diegostafa)
@preprocessor   stylus
@var            text borderRadius "border radius?" "10px"
@var            color accentColor "accent color" #ffffff06
@var            checkbox debug "[DEBUG] show hidden elements" 0
==/UserStyle== */

@-moz-document regexp("https://www.google.com/search(?!.*\\&tbm\\=).*") {

    .rfiSsc [class="ym1pid zo4mKb KLEmSd"],
    [class="bNg8Rb OhScic zsYMMe BBwThe"],
    #searchform [class="MG7lrf mWcf0e"],
    #searchform [class="UUbT9 EyBRub"] .ynRric,
    #searchform [class="UUbT9 EyBRub"] .lh87ke,
    #searchform .xtSCL:empty,
    #searchform .ACRAdd.M2vV3,
    #searchform .iblpc,
    .IDFSOe,
    #oFNiHe,
    #sfooter,
    #rhs .epKdHc,
    div[style="padding:0px 0 20px"],
    .ULSxyf:has(> div > .cUnQKe),
    #bres,
    #rhs> :empty,
    #rhs>.focusSentinel,
    #rhsads,
    [class="GCSyeb iNlBQe"],
    .mNh24c,
    .uzfIAc,
    .PmPt7d.QprcBd,
    div[data-st-tgt="stb"],
    [class="ClPXac Pqkn2e"],
    [class="ClPXac hoUro Pqkn2e"],
    .oBa0Fe,
    [class="Lu1KO aBOYt"] span,
    .g div[aria-label="About this result"],
    .g table.jmjoTe tr:has(form),
    .kno-ftr,
    .KFFQ0c.xKf9F {
        if debug {
            outline: 3px solid red !important;
        }

        else {
            display: none !important;
        }
    }

    body {
        margin: 0 !important;
        padding: 0 60px !important;
        overflow-x: hidden !important;
    }

    #cnt {
        padding-top: 10px !important;
    }

    #taw p {
        margin: 0 !important;
        padding: 0 !important;
    }

    .M8OgIe {
        padding: 0 !important;
        margin: 0 auto !important;
        width: 100% !important;
    }

    .M8OgIe:has([class="e8Ck0d CYJS5e"]) {
        overflow: scroll !important;
        scrollbar-width: none;
        max-width: 100% !important;
        margin: 0 auto !important;
    }

    .M8OgIe .p0tlZe {
        outline: none !important;
    }

    .M8OgIe:has([class="e8Ck0d CYJS5e"])::-webkit-scrollbar {
        display: none;
    }

    #rcnt .M8OgIe [class="WC0BKe"] {
        flex-wrap: nowrap !important;
    }

    body,
    #rcnt,
    #main,
    .LHJvCe,
    #searchform *:not(span):not(a):not(div:has(>iframe)):not(div:has(>iframe) *) {
        max-width: 100% !important;
        min-width: 0 !important;
        width: auto !important;
    }

    .WZH4jc.w7LJsc {
        margin: 0 !important;
    }

    #sfcnt {
        display: none !important;
    }

    .obcontainer,
    [class="dG2XIf ouUsKb"]>div {
        margin: 0 !important;
    }

    .Q3DXx {
        width: 100% !important;
    }

    .I6TXqe {
        margin: 0 !important;
        border: none !important;
        background-color: transparent !important;
    }

    .hlcw0c,
    .ULSxyf {
        margin-bottom: 0 !important;
    }

    #hdtb-tls {
        line-height: 25px !important;
    }

    .bSeRjc {
        line-height: 0 !important;
        all: initial !important;
    }

    #tools_1{
        margin-top: 5px !important;
    }

    .SF7xd{
        margin: 0 !important;
        padding: 0 !important;
        display: initial !important;
    }

    #abss-dropdown_1 g-dropdown-button {
        padding: 0 !important;
    }

    #searchform {
        position: initial !important;
        margin: 0 !important;
        min-width: 0 !important;
        max-width: 100% !important;
        width: auto !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 40px !important;
        padding-top: 10px !important;
    }

    #searchform,
    #searchform *:not(#gb *):not(.UUbT9.EyBRub *) {
        min-height: 0px !important;
        line-height: initial !important;
        border: none !important;
        max-height: 32px !important;
    }

    [class="UUbT9 EyBRub"] {
        border-radius: borderRadius !important;
    }

    .RNNXgb {
        border-radius: borderRadius !important;
    }

    #searchform #tsf {
        flex: 1 !important;
        max-width: 50% !important;
    }

    #searchform .dRYYxd,
    #searchform .dRYYxd * {
        padding: 0 2px !important;
        margin: auto !important;
    }

    #searchform .dRYYxd {
        background-color: accentColor !important;
        border-radius: borderRadius !important;
    }

    #searchform .dRYYxd svg,
    #searchform .Tg7LZd svg {
        height: 20px !important;
        padding: 0 !important;
    }

    #searchform .Tg7LZd {
        padding: 5px !important;
        margin: 0 !important;
    }

    .logo {
        top: -5px !important;
    }

    .RNNXgb,
    .RNNXgb * {
        width: 100% !important;
    }

    #searchform .SDkEP {
        padding: 0 !important;
        padding-left: 10px !important;
    }

    #searchform form .A8SBwf {
        width: 100% !important;
        padding: 0 !important;
        margin-left: 70px !important;
    }

    #extabar {
        height: fir-content !important;
        max-height: fir-content !important;
        margin-top: 15px !important;

    }

    #slim_appbar,
    #appbar {
        display: block !important;
        border: none !important;
        padding: 0 !important;
        margin: 0 auto !important;
    }

    .IUOThf {
        width: auto !important;
    }

    .rfiSsc.wtAAQb .sBbkle.y3NyWc {
        padding: 0 !important;
        margin: 0 !important;
        padding-bottom: 5px !important;
    }

    .rfiSsc .sBbkle,
    .rfiSsc.XtQzZd .sBbkle,
    .rfiSsc.XtQzZd .sBbkle .bSeRjc {
        padding: 0 !important;
        margin: 0 !important;
    }

    .dG2XIf.XzTjhb {
        background-color: transparent !important;
    }

    #rcnt {
        justify-content: space-between !important;
        flex-wrap: no-wrap !important;
    }

    #rhs {
        min-width: 0 !important;
        max-width: 100% !important;
        margin: 0 !important;
        flex-grow: 1 !important;
        height: fit-content !important;
    }

    #rhs>div {
        width: auto !important;
    }

    #rhs div {
        max-width: 100% !important;
        min-width: 0 !important;
        border-left: none !important;
        margin-left: initial !important;
        margin-right: initial !important;
    }

    #center_col {
        padding: 0 !important;
        margin: 0 !important;
        max-width: 100% !important;
        flex-grow: 1 !important;
    }

    #center_col:has(+ #rhs) {
        margin-right: 10px !important;
    }

    [class="e8Ck0d CYJS5e"] {
        margin: 10px auto !important;
        padding: 0 !important;
        max-width: initial !important;
    }

    .XqFnDf {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
        max-width: initial !important;
        min-width: 0 !important;
    }

    .HdbW6.MjUjnf.VM6qJ {
        width: auto !important;
        max-width: initial !important;
        min-width: 0 !important;
        margin: 0 auto !important;
        padding: 0 !important;
    }

    .k6DEPe {
        margin: auto !important;
    }

    .KcXNxb {
        background-color: transparent !important;
    }

    [class="gqLncc card-section KDCVqf"] {
        order: -2 !important;
    }

    #kp-wp-tab-overview>div {
        margin: 0 !important;
    }

    .g {
        min-width: 0 !important;
        width: auto !important;
        margin: 10px auto !important;
    }

    #kp-wp-tab-TvmWatch > div:not(:empty),
    #kp-wp-tab-BookGet > div:not(:empty),
    block-component > * > [class="dG2XIf Wnoohf OJXvsb"],
    #rcnt>.XqFnDf,
    #botstuff .mnr-c,
    #rcnt>.M8OgIe,
    [class="WvKfwe a3spGf"]>div:not(:empty),
    #rhs>div:not(:empty),
    #bres:not(:empty),
    .WtZO4e>div>div>div:not(:empty),
    #rso:not(:has(#kp-wp-tab-overview))>div>div:not(:empty),
    #rso:not(:has(#kp-wp-tab-overview))>.hlcw0c>div:not(:empty),
    #rso #kp-wp-tab-overview>div:not(:empty),
    .g .P1usbc,
    .g .HiHjCd,
    .g table.jmjoTe {
        border: 1px solid #80808036 !important;
        margin: 10px 0 !important;
        padding: 10px !important;
        background-color: accentColor !important;
        border-radius: borderRadius !important;
    }

    [class="GhpATe pttBJc"] [class="TzHB6b cLjAic"] {
        padding: 0 !important;
        margin: 0 !important;
    }

    .g {
        margin: 0 !important;
    }

    [role="tabpanel"] [class="g Ww4FFb vt6azd tF2Cxc asEBEc"] *,
    .Ww4FFb.vt6azd,
    .wDYxhc .dG2XIf.ouUsKb,
    .FalWJb,
    .g,
    .obcontainer,
    .obcontainer .dG2XIf.ouUsKb {
        background-color: transparent !important;
    }

    .WFxqwc.BGdUVb.OTFaAf,
    #rhs>div[aria-label="About"] .xGj8Mb {
        margin-bottom: 0 !important;
    }

    .fl.ellip.oBrLN.ZwRhJd {
        margin-top: 10px !important;
    }

    .g .g {
        border: none !important;
        margin: 0 !important;
        background-color: transparent !important;
        border-radius: 0 !important;
    }

    .OOijTb.P6Tjc.gDQYEd {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: space-around !important;
    }

    .g .HiHjCd {
        width: fit-content !important;
        margin: 0 !important;
        margin-top: 10px !important;
    }

    .g table.jmjoTe h3 a {
        font-size: 0.9rem !important;
    }

    .g table.jmjoTe {
        margin: 0 !important;
        display: block !important;
    }

    .g table.jmjoTe tbody {
        display: flex !important;
        flex-wrap: wrap !important;
    }

    .g table.jmjoTe tbody>tr {
        padding: 0 !important;
        margin: 0 !important;
        width: 50% !important;
    }

    .g table.jmjoTe tbody>tr>td {
        padding: 0 !important;
        margin: 0 !important;
        font-size: 0.8rem !important;
    }

    .g table.jmjoTe tbody>tr div,
    .g table.jmjoTe tbody>tr td {
        display: block !important;
        max-width: 100% !important;
    }

    .g .P1usbc {
        margin-bottom: 0 !important;
        display: grid !important;
        grid-template-columns: 50% 50% !important;
    }

    .g .P1usbc>div {
        margin-bottom: 4px !important;
    }

    .g h3.LC20lb.MBeuO.DKV0Md {
        font-size: 1.1rem !important;
        margin-top: 5px !important;
    }

    #center_col .g .H9lube {
        width: 18px !important;
        height: 18px !important;
        background-color: transparent;
        border: none !important;
    }

    .GTRloc,
    .CA5RN {
        display: flex !important;
    }

    .byrV5b *,
    .GTRloc *,
    .CA5RN * {
        padding: 0 !important;
        margin: 0 !important;
        line-height: initial !important;
    }

    .VuuXrf {
        margin-right: 10px !important;
    }

    [class="qLRx3b tjvcx GvPZzd cHaqb"]{
        margin-right: 20px !important;
    }

    .g div[class="notranslate TbwUpd NJjxre iUh30 ojE3Fb"]>div {
        display: flex !important;
    }

    .g div[class="notranslate TbwUpd NJjxre iUh30 ojE3Fb"]>div>span {
        margin-right: 10px !important;
    }

    @media only screen and (max-width: 1200px) {
        #center_col:has(+ #rhs) {
            margin-right: 0 !important;
        }

        body {
            padding: 0 40px !important;
        }

        #rhs {
            order: -100 !important;
            margin: 0 !important;
            padding: 0 !important;
            display: grid !important;
            grid-gap: 0 5px !important;
            grid-template-columns: auto auto auto !important;
        }

        #rhs>div {
            width: auto !important;
            padding: 0px !important;
            margin: 0 !important;
        }

        #rhs * {
            font-size: 0.8rem !important;
        }

        .g .P1usbc>div {
            display: flex !important;
            flex-wrap: wrap !important;
        }

        .g .P1usbc .VNLkW .G1Rrjc {
            padding-left: 5px !important;
            padding-right: 20px !important;
        }
    }

    @media only screen and (max-width: 1024px) {
        body {
            padding: 0 10px !important;
        }

        #rhs {
            grid-template-columns: auto auto !important;
        }

        .g .P1usbc>div {
            display: flex !important;
            flex-wrap: wrap !important;
        }

        .g .P1usbc .VNLkW .i4vd5e {
            width: 100% !important;
        }
    }
}
