/* ==UserStyle==
@name           old-reddit-theme-modified
@namespace      https://github.com/diegostafa/userstyles
@version        1.0.2
@description    a clean old.reddit theme
@author         Diego <dstafa.dev@gmail.com> (https://github.com/diegostafa)
==/UserStyle== */

@-moz-document url-prefix("https://www.reddit.com/") {

    #header-img {
        margin: 0 !important;
        width: 36px !important;
    }
}

@-moz-document url-prefix("https://www.reddit.com/"), url-prefix("https://old.reddit.com/") {

    .infobar.commentsignupbar,
    .side,
    .sidecontentbox,
    .sidebox,
    .premium-banner-outer,
    .debuginfo,
    .listing-chooser,
    #sr-header-area,
    .rank,
    .infobar.listingsignupbar,
    .footer-parent,
    .panestack-title {
        display: none !important;
    }

    .menuarea {
        margin: 4px !important;
    }

    body,
    html {
        margin: 0 !important;
        padding: 0 !important;
        overflow: initial !important;

        min-width: 0 !important;
        max-width: 100% !important;
    }

    .content {
        margin-left: 12px !important;
        margin-right: 12px !important;
        background-color: transparent !important;
        padding: 0 !important;
    }
}

@-moz-document regexp("https://(old|www).reddit.com/(|r/[0-9A-Za-z]*/)(|search.*|hot|new|rising|controversial|top|top/.*)/?"), regexp("https://(old|www).reddit.com/([0-9A-Za-z]*/)?") {

    .midcol,
    .expando-button {
        display: none !important;
    }

    .nav-buttons {
        width: 100% !important;
        max-width: 100% !important;
    }

    .side {
        float: left !important;
        max-width: 10% !important;
        min-width: 0 !important;
        overflow: hidden !important;
    }

    .side .spacer * {
        max-width: 100% !important;
        min-width: 0 !important;
    }

    #siteTable {
        display: flex !important;
        flex-wrap: wrap !important;
        max-width: 100% !important;
    }

    .thing,
    .thing.last-clicked {
        left: initial !important;
        display: flex !important;
        flex-direction: column !important;
		margin: 0 auto 4px  auto !important;
        padding: 8px !important;
        width: 18% !important;
        border-radius: 8px !important;
        background-color: #ffffff0c !important;
        border: 1px solid #505050;
    }

    .thing * {
        max-width: 100% !important;
    }

    .thing .entry {
        padding: 0 !important;
        margin: 0 !important;
    }

    .thing .expando {
        width: 300px !important;
        position: absolute;
        z-index: 100;
        background-color: black !important;
    }

    .thing .thumbnail,
    .thing .thumbnail img {
        background: none !important;
        background-color: #3f3f3f !important;
        border-radius: 8px !important;
        height: 60px;
        width: 100% !important;
    }

    .thing .thumbnail img {
        object-fit: contain !important;
    }

    .thing .thumbnail {
        display: none !important;
        margin: 0.2rem auto !important;
    }

    .thing .title {
        font-size: 1rem !important;
        display: block !important;
        margin: 0 !important;
    }

    .thing .title,
    .thing .title * {
        width: auto !important;
    }

    .thing .title .domain {
        font-size: 0.7rem !important;
    }

    .thing .title span {
        font-size: 0.7rem !important;
        padding: 0 !important;
    }

    .thing .tagline {
        font-size: 0.7rem !important;
        padding: 4px 0 !important;
        flex: auto;
    }

    .thing .tagline a {
        padding: 0 !important;
        margin: 0 !important;
    }

    .thing .entry {
        height: 100% !important;
    }

    .thing .top-matter {
        height: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .thing .top-matter ul {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: space-between !important;
        padding: 0 !important;
        border-radius: 8px;
        border: 1px solid #505050;
    }

    .thing .top-matter ul li {
        padding: 0 !important;
        display: none !important;
    }

    .thing .top-matter ul li.first {
        display: initial !important;
        margin: 0 auto !important;
    }

    .thing .top-matter ul li a {
        font-size: 0.8rem !important;
        font-weight: bold !important;
    }

    @media only screen and (max-width: 1367px) {
        #siteTable>.thing {
            width: 18% !important;
        }
    }

    @media only screen and (max-width: 1024px) {
        #siteTable>.thing {
            width: 24% !important;
        }
    }

    @media only screen and (max-width: 900px) {
        #siteTable>.thing {
            width: 30% !important;
        }
    }

    @media only screen and (max-width: 480px) {
        #siteTable>.thing {
            width: 90% !important;
        }
    }
}

@-moz-document regexp("https://(old|www).reddit.com/r/.*/comments/.*") {

    .thumbnail.may-blank,
    .help-toggle,
    .side,
    .reddiquette {
        display: none !important;
    }

    .top-matter .tagline {
        margin-bottom: 10px !important;
    }

    .md,
    .md p {
        max-width: initial !important;
    }

    .comment {
        border: 1px solid #444444;
        margin: 4px;
        padding: 4px;
    }

    .commentarea>.usertext.cloneable.warn-on-unload {
        margin: 4px !important;
    }
}
