/* ==UserStyle==
@name           simple-scrollbar
@namespace      github.com/diegostafa/userstyles
@version        3
@description    a smaller and flat scrollbar
@author         Diego <dstafa.dev@gmail.com> (github.com/diegostafa)
==/UserStyle== */

::-webkit-scrollbar {
    max-width: 6px !important;
}

::-webkit-scrollbar-thumb {
    background: #555555 !important;
    border: none !important;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888888 !important;
    ;
}

::-webkit-scrollbar-thumb:active {
    background-color: #bbbbbb !important;
    ;
}

::-webkit-scrollbar-track {
    background: transparent !important;
    ;
    border: none !important;
    ;
}

::-webkit-scrollbar-corner {
    background: transparent !important;
    ;
}