/* ==UserStyle==
@name           unipd-stem-elearning-clean
@namespace      https://github.com/diegostafa/userstyles
@version        3
@description    a clean unipd.stem.elearning UI
@author         Diego <dstafa.dev@gmail.com> (https://github.com/diegostafa)
==/UserStyle== */

@-moz-document domain("shibidp.cca.unipd.it") {

    body {
        background: none !important;
    }

    .container {
        margin-top: 8vh !important;
    }

    .row.vertical-align img,
    .lingue,
    .col-xs-12>.row,
    footer {
        display: none;
    }
}

@-moz-document regexp("https://stem.elearning.unipd.it/mod.*") {
    #page-header [class="d-flex align-items-center"] {
        display: none !important;
    }
}

@-moz-document regexp("https://stem.elearning.unipd.it/.*") {

    * {
        max-height: 100% !important;
        max-width: 100% !important;
        transition: none !important;
    }

    header.navtop.fixed-top,
    footer,
    nav.navbar .navbar-brand,
    nav.navbar .navbar-toggler,
    .drawer-toggler.drawer-right-toggle {
        display: none !important;
    }

    .moremenu {
        border: none !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    #page-header {
        margin: 0 auto !important;
        padding: 5px !important;
        width: fit-content !important;
        background-color: #ff000010 !important;
        border-bottom-left-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
    }

    #page-header * {
        margin: 0 !important;
        padding: 0 !important;
        border: none !important;
        text-align: center !important;
    }

    nav.navbar {
        z-index: 1 !important;
        position: static !important;
        padding: 0 !important;
        height: 35px !important;
        border: none !important;
    }

    #user-action-menu {
        position: absolute !important;
        min-height: 300px !important;
    }

    .drawer {
        top: 0 !important;
        z-index: 3 !important;
        position: fixed !important;
        border-right: 2px solid black !important;
    }

    .drawer-toggler.drawer-left-toggle {
        top: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        position: static !important;
    }

    .drawer-toggler.drawer-left-toggle button {
        display: none !important;
        border-radius: 0 !important;
        margin: 5px !important;
        padding: 10px !important;
    }

    .drawercontent.drag-container {
        height: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .drawercontent::-webkit-scrollbar {
        display: none !important;
    }

    .drawerheader {
        background-color: #9c0014 !important;
        height: 35px !important;
    }

    .drawerheader button {
        width: 100% !important;
        margin: auto !important;
        padding: 0 !important;
    }

    .drawerheader i {
        color: white !important;
    }

    #courseindex {
        margin: 0 !important;
        padding: 0 !important;
    }

    #courseindex .courseindex-section {
        margin: 0 !important;
        padding: 0 !important;
    }

    #courseindex .courseindex-item {
        margin: 0 !important;
        padding: 3px 0 !important;
    }

    .course-section-header h3.sectionname {
        font-size: 1.3rem !important;
    }

    #page,
    #topofscroll,
    #theme_boost-drawers-courseindex {
        height: 100% !important;
        margin-top: 0 !important;
        padding: 0 !important;
    }

    #page {
        width: 100% !important;
        margin: auto !important;
        padding: 10px 15% !important;
        border: 4px solid black,
    }

    .secondary-navigation nav {
        height: fit-content !important;
    }

    div.secondary-navigation,
    nav div.secondary-navigation,
    div.activity-item,
    div.description,
    #wrap {
        margin: 0 !important;
        padding: 0 !important;
        border: none !important;

    }

    ul[role=menubar] {
        margin: auto !important;
        justify-content: space-between !important;
    }

    ul.section {
        padding: 0 40px !important;
    }

    ul.section>li {
        background-color: #ffffff08 !important;
        padding: 2px !important;
        margin: 0 !important;
    }

    span.local_bfaltformat-button_span,
    span.local_bfaltformat-button_span>button {
        all: initial !important;
        margin: auto !important;
        width: 20px !important;
        height: 20px !important;
        margin-left: 5px !important;
    }

    li .activityiconcontainer {
        max-height: 20px !important;
        max-width: 20px !important;
        padding: 0 !important;
        margin: auto !important;
        margin-right: 5px !important;
    }

    li .activityiconcontainer img {
        max-height: 16px !important;
        max-width: 16px !important;

    }

    div[role=main] {
        margin: 0 !important;
        padding: 0 !important;
    }

    li.nav-item {
        height: 2rem !important;
        padding: 0 auto !important;
        margin: 0 !important;
    }

    li.activity {
        margin: 2px 0 !important;
        padding: 0 !important;
    }

    li.section.course-section {
        margin: 4px 0 !important;
        padding: 0 !important;
        border: none !important;
    }

    #page .course-section-header {
        margin: 0 !important;
        padding: 0 !important;
    }

    #page {
        padding: 0 80px !important;
    }


    @media (max-width: 1024px) {
        #page {
            padding: 0 !important;
        }
    }
}